html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #99d965;
  padding: 0;
  margin: 0;
  font-family: 'Love Ya Like A Sister', sans-serif;
}

.bunnytitle {
  height: 8vw;
  margin-top: 10px;
  text-align: center;
}

h1 {
  display: inline-block;
  text-align: center;
  font-size: 6vw;
  padding-left: 2vw;
  margin: 0;
}

.score {
  display: inline-block;
  margin-left: 2vw;
  background: rgba(255,255,255,0.6);
  border-radius: 2vw;
  width: 9.5vw;
  text-align: center;
  font-size: 6vw;
  font-weight: bold;
}

.intro {
  margin: 20px auto 5px;
  width: 80%;
  text-align: center;
}

button {
  display: inline-block;
  background: #ffde26;
  border: 1.5px solid black;
  border-radius: 12px;
  margin-right: 8px;
  padding: 6px 12px 5px;
  font-family: 'Love Ya Like A Sister', sans-serif;
  font-size: 22px;
  letter-spacing: 1.5px;
}

.game {
  width: 600px;
  height: 360px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 20px;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}
